{% extends "base_recepcionista.html" %}
{% load static %}

{% block 'dashboard' %}

<div class="bar-top">
    <div >
      <button class="btn-bar-top">
        <a href="{% url 'cadastrar_funcionario' %}">Cadastrar Funcionário</a>
      </button>
    </div> 
</div>

<table class="table-agendas">
  <div class="columns">
    <thead class="">
      <tr>
        <th class="column">Nome</th>
        <th class="column">CPF</th>
        <th class="column">Data de Nascimento</th>
        <th class="column">Endereço</th>
        <th class="column">Telefone</th>
      </tr>
    </thead>
  </div>
  <tbody class="lines-exame">
    {% for funcionarios in funcionario %}
    <tr>
      <td class="line-exame">{{ funcionario.nome }}</td>
      <td class="line-exame">{{ funcionario.cpf }}</td>
      <td class="line-exame">{{ funcionario.data_nascimento }}</td>
      <td class="line-exame">{{ funcionario.endereco }}</td>
      <td class="line-exame">{{ funcionario.telefone }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="6">Nenhum funcionario cadastrado.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}